@media screen and (max-width: 640px) {
    #side {
        height: 15%;
        background-color: blue;
    }

    nav {
        background-color: #0f0fb8;
    }

    #logo {
        background-image: url("dotted.png");
    }

    #join {
        margin: 10% 25%;
    }

    #email {
        color: white;
    }

    #section {
        background-image: url("events.jpg");
        background-size: 100% 100%;
        width: 100%;
        color: #ffffff;
    }

    #events {
        margin: 5% 5% 10% 5%;
        text-align: center;
    }

    button {
        margin: 2% 0;
        width: 50%;
        background-color: #0f0fb8 !important;
    }

    #touch {
        background-color: #18182c;
        color: #ffffff;
        font-size: 15px;
        color: rgba(255, 255, 255, 255);
        text-align: center;
        padding: 43.5px;
    }

    #touch > form > input, #events > form > input {
        width: 70%;
    }

    #quote {
        margin: 5% 5%; 
        font-size: 15px;
        color: rgba(24, 24, 44, 255);
        text-align: center;
    }

    #footer {
        background-color: #00ffd8;
        padding: 0.5rem;
        font-size: 15px;
        color: rgba(24, 24, 44, 255);
        text-align: center;
    }
}